#app {
  display: inline-block;
}

#reservation {
  width: 300px;
  padding: 0px 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  box-shadow: 1px 2px 8px rgba(153, 153, 153, 0.4);
  border-radius: 1%;
  font-family: 'Mukta Mahee', sans-serif;
}

#dateSection {
  position: relative;
  display: inline-block;
}

#dateWrap {
  display: none;
  position: fixed;
  z-index: 99;
}

h3 {
  padding: 0px;
  margin: 0px;
  padding: 13px 0px;
  text-align: center;
  border-bottom: 1px solid #d8d9db;
}

#date {
  border-collapse: collapse;
  background-color: #f1f2f4;
  display: inline-block;
  padding: 16px;
  border: 1px solid #d8d9db;
}

#header {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sideArrow {
  border: 1px solid #d8d9db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideArrow:hover {
  border: 2px solid #da3743;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.fadeBtn:hover {
  border: 1px solid #d8d9db;
  width: 30px;
  height: 30px;
  cursor: default;
}

.fadeArrow {
  color: #d8d9db;
}

#month {
  margin: auto 0;
  padding-top: 7px;
  font-weight: bold;
  font-size: 90%;
}

#days {
  display: table-row;
}

.row {
  height: 33px;
  display: table-row;
}

.day,
.box {
  height: 32px;
  display: table-cell;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
}

.day {
  width: 34px;
  padding-left: 0.5px;
  font-size: 80%;
}

.box {
  border: 1px solid #d8d9db;
  color: #d8d9db;
  width: 34px;
  font-size: 90%;
}

.thisMonth {
  background-color: white;
}

.future {
  font-size: 700;
  color: black;
}

.future:hover,
.defaultDate {
  outline-style: solid;
  outline-color: #da3743;
  cursor: pointer;
}

#reserve {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

#find {
  background-color: #da3743;
  color: white;
  font-size: 105%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 288px;
  height: 47px;
  border: 0px;
  border-radius: 2%;
}

#find:hover {
  cursor: pointer;
  background-color: #e45962;
}

#chart,
#bookedText {
  display: inline-block;
  margin: 0 3px;
}

#booked {
  margin-top: 16px;
  font-size: 83%;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
