#date {
  border-collapse: collapse;
  background-color: #f1f2f4;
}

#days {
  display: table-row;
}

.row {
  height: 33px;
  display: table-row;
}

.day,
.box {
  height: 31px;
  display: table-cell;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
}

.day {
  width: 34px;
  padding-left: 0.5px;
  font-size: 80%;
}

.box {
  border: 1px solid gray;
  width: 34px;
  font-size: 90%;
}
